h4, p, button, input {
  font-family : Helvetica, sans-serif, Arial;
  color: #ffffff;
  text-align: center;
}

p, button, input {
  font-size: 100px;
  margin-left: 5px;
  margin-right: 5px; 
  text-decoration: none;
}

button {
  display: inline-block;
  background-color: #002b88;
  border: none;
  padding: 100px 200px;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
}

input {
  display: inline-block;
  background-color: #000000;
  border: 1px solid rgb(57, 18, 228);
  padding: 10px 20px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
}

#container {
  margin: 20px auto;
  text-align: center;
}

#instructions {
  margin: 20px auto;
  width: 50%;
}

.boardItemLightOn {

  background-color: #000000;
  border: 1px solid #5A5A5A;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: top;
}

.boardItemLightOff {

  background-color: rgb(241, 205, 0);
  border: 1px solid grey;
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: top;
}